div {
    width: 100px;
    background: #ddd;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        color: #333;
        background-color: #ccc;
    }
    &:active {
        transform: scale(0.97);
    }
}