.multipliers {
    margin: 10px auto;
    width: 250px;
    text-align: center;
    font-size: 18px;
    span {
        display: inline-block;
        width: 50px;
        margin-right: 5px;
        margin-left: 5px;
        background-color: #ddd;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s all;
        backface-visibility: hidden;
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            transform: scale(1.05);
        }
        &.active {
            background-color: #358;
            color: #fff;
        }
    }
}
.auto-clickers {
	list-style-type: none;
	padding: 0;
	width: 400px;
	margin: auto;
	font-family: Arial, Helvetica, sans-serif;
	li div {
		cursor: pointer;
		position: relative;
		background-color: #ddd;
		margin-bottom: 10px;
		height: 40px;
		line-height: 40px;
		border-radius: 4px;
		transition: 0.3s all;
		overflow: hidden;
		&:hover {
			color: #333;
			background-color: #ccc;
		}
		&:active {
			transform: scale(0.97);
		}
		&.buyable {
			.count {
				color: #fff;
				width: 60px;
				margin: auto;
				text-align: center;
				background-color: #358;
				border-radius: 4px 0 0 4px;
				margin-right: 10px;
			}
		}
		span {
			display: inline-block;
			&.count {
				color: #fff;
				width: 60px;
				margin: auto;
				text-align: center;
				background-color: #333;
				border-radius: 4px 0 0 4px;
				margin-right: 10px;
			}
			&.name {
				margin-right: 5px;
			}
			&.cost {
				margin-right: 5px;
			}
			// &.per-sec {
			// }
			&.reward {
				margin-right: 10px;
				text-align: right;
				float: right;
			}
		}
	}
}