<div class="multipliers">
	<span class="one-multiplier" [ngClass]="{'active': AutoClickerService.multiplier == 1}" (click)="oneMultiplier()">x1</span>
	<span class="ten-multiplier" [ngClass]="{'active': AutoClickerService.multiplier == 10}" (click)="tenMultiplier()">x10</span>
	<span class="hundred-multiplier" [ngClass]="{'active': AutoClickerService.multiplier == 100}" (click)="hundredMultiplier()">x100</span>
	<span class="max-multiplier" [ngClass]="{'active': AutoClickerService.multiplier == 0}" (click)="maxMultiplier()">Max</span>
</div>
<ul class="auto-clickers">
	<li *ngFor="let a of autoClickers">
		<div *ngIf="a.shown" (click)="addClicker(a)">
			<span class="count">{{GeneralService.beautifyNumber(a.count)}}</span> 
			<span class="name">{{a.name}}</span> 
			<span class="cost"> ({{GeneralService.beautifyNumber(a.cost)}})</span> 
			<span class="reward"> [{{GeneralService.beautifyNumber(a.reward)}}]</span>
		</div>
	</li>
</ul>
